$font-form: Helvetica, sans-serif;
@import "Header";

.FilterTagSelector {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-family: $font-form;
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
  padding: 2em 10em;
}

.creatableFilterSelector {
  padding: .5em 0;
  font-size: .8em;
  font-weight: 700;
  width: 12vw;
  color: $primary-color;
}

.NoteList {
  margin-left: 19em;
  margin-top: -3.5em;
}